{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

    <form action="" method=post class="form-horizontal">
        <h2>Generate New Api Key</h2>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="name" name="name" class="input-xlarge"
                placeholder="Please give the api key a name" value="{{ request.form.name }}"
                required>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="text" id="host" name="host" class="input-xlarge"
                placeholder="What hosts can use this key, leave blank for any" value="{{ request.form.host }}">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Generate key</button>
            </div>
        </div>
    </form>


    <h2>All Items</h2>
    <table id="table-list" class="table table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%- for key in apikeys %}
            <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.key }}</td>
                <td>{{ key.date_added.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="/apikey/delete/{{ key.id }}">Delete</a></td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

  
</div>
{% endblock %}
