{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

  <form action="" method=post class="form-horizontal">
    <h2>Generate New Api Key</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Please give the api key a name" value="{{ request.form.name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="text" id="host" name="host" class="input-xlarge"
            placeholder="What hosts can use this key, leave blank for any" value="{{ request.form.host }}">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Generate key</button>
        </div>
    </div>
  </form>


    <h2>All Items</h2>
    <table class="table table-hover">
      <tr>
        <th>#
        <th>Name
        <th>Key
        <th>Date
        <th>Actions
      {%- for key in apikeys %}
      <tr>
        <td>{{ key.id }}
        <td>{{ key.name }}
        <td>{{ key.key }}
        <td>{{ key.date_added.strftime('%Y-%m-%d %H:%M') }}
        <td><a href="/apikey/delete/{{ key.id }}">Delete</a>
      {%- endfor %}
    </table>

  
</div>
{% endblock %}
