{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

    <form action="" method=post class="form-horizontal">
        <h2>Add new group</h2>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="name" name="name" class="input-xlarge"
                placeholder="Name the goup" value="{{ request.form.name }}"
                required>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Add Group</button>
            </div>
        </div>
    </form>


    <h2>All Groups</h2>
    <table id="table-list" class="table table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key <sub>(case sensitive)</sub></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%- for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.key }}</td>
                <td><a href="/group/delete/{{ group.id }}">Delete</a></td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
